extends /layouts/application.pug
block content

  .table-responsive
    table.table.table-striped.table-hover
      thead
        tr
          th(scope="col") Latinski naziv
          th(scope="col") Naziv
          th(scope="col") Zaštićena
          th(scope="col") Jestivost
          th(scope="col")
      tbody
        each fungus in fungi
          tr
            td= fungus.fullLatinName
            td= fungus.name
            if fungus.isProtected
              td.icon-cell(title="Zaštićena")
                .protected-icon
                  include /icons/ic-shield.svg
            else
              td
            td= fungus.edibility
            td
              a(href=`/fungi/${fungus.id}`) Vidi

