extends /layouts/application.pug
block content
  .table-responsive
    table.table.table-striped.table-hover
      thead
        tr
          th(scope="col") Naziv
          th(scope="col") Opis
      tbody
        each herbarium in herbariums
          tr
            td= herbarium.name
            td= herbarium.description
