{
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "dist/**/*.*",
    "test/**/*.*",
    "src/dataAccess/migrations/**/*.ts"
  ],
  "all": true
}
