extends /layouts/application.pug
block content

  .jumbotron.hero
    h1.display-4 Gljivar
    p.lead
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi excepturi at nemo blanditiis quos...


