nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="/") Gljivar
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  #navbar-content.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      +navigationLink('/', 'Početna')
      +navigationLink('/fungi', 'Gljive')
      +navigationLink('/observation', 'Zapažanja')
      +navigationLink('/herbarium', 'Herbariji')

    ul.navbar-nav
      if user
        span.navbar-text= user.username
        +navigationLink('/auth/logout', 'Odjava')

      else
        +navigationLink('/auth/login', 'Prijava')
        +navigationLink('/auth/register', 'Registracija')


